<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the Component!</h3>
      <hr/>
      <app-servers></app-servers>
      <app-warning-alert></app-warning-alert>
      <app-warning-ok></app-warning-ok>

      <button class="btn btn-primary"
      (click)="onToggleDetails()"
      >Display Details</button>
      <p *ngIf="showSecret">Secret password = tuna</p>
      <div
        *ngFor="let logItem of log; let i =index"
        [ngStyle]="{backgroundColor: i >=5 ?'blue' : 'transparent' }"
        [ngClass]="{'white-text': i >=5}">
        {{ logItem}}
      </div>
    </div>
  </div>
  <div class="row">
    <app-cockpit></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <app-server-element *ngFor="let serverElement of serverElements"
        [element]="serverElement"></app-server-element>
      </div>
    </div>
  </div>
</div>
